@import "./reset.css";

.container{
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height: 100%;
}

/**********************************/
/*            Header              */
/**********************************/

.header-bg-container, .header-master-container {
    height: 60px;
    background-color: azure;
}

.header-master-container, 
.company-header-container, 
.shoe-companies-header-container, 
.company-logo-name,
ul {
    display: flex;
}

.header-master-container {
    flex-direction: column; 
}

.company-header-bg {
    height: 60px;
    background-color: #DC143C;
}

.company-header-container {
    height: 60px;    
    justify-content: space-between;
    place-items: center;
}

header {
    color: #fff;
}

ul {
    list-style: none;
}

.company-header-container li {
    padding: 18px 20px;
    transition: all 0.25s ease-in-out;
}

.company-header-container li:hover {
    background-color: #c71236;
    cursor: pointer;
}

header img {
    border-radius: 50%;
    height: 36px;
}

.company-logo-name {
    align-items: center;
    gap: 20px;
}

.search-container {
    width: 50%;
}

.search-wrapper {
    width: 100%;
    position: relative;
}

.search-bar {
    width: 100%;
    background-color: #c71236;
    padding: 2px 15px 2px 35px;
    border-radius: 50px;
    color: #fff;
}

.search-bar:hover {
    border: 1px solid #a5102e;
}

.search-bar:focus {
    border-color: #fff;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-60%);
    font-size: 32px;
}

.main-nav {
    color: #fff;
    text-decoration: none;
}