@import "./reset.css";
@import "./index.css";

.company-header-container li {
    padding: 18px 20px;
    transition: all 0.25s ease-in-out;
}

h1 {
    margin-right: 5px;
}

.header-bg-container, .header-master-container {
    height: 60px;
}

.company-header-bg {
    height: 60px;
    background-color: #DC143C;
}

.company-header-container {
    height: 60px;    
    justify-content: space-between;
    place-items: center;
}

.search-bar {
    width: 95%;
    background-color: #c71236;
    padding: 2px 15px 2px 35px;
    border-radius: 50px;
    color: #fff;
    margin-left: 5px;
}

i {
    font-size: 32px;
}

i:hover {
    cursor: pointer;
}

.login-box {
    margin-top: 40px;
    background-color: #ececec;
    padding: 20px;
    border-radius: 5px;
}

.login-box h2 {
    text-align: center;
    padding: 10px;
}

.login-flex {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.login-flex-col {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.login-input {
    width: 360px;
    height: 40px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}

.login-buttons {
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 20px 0 0 65px;
    gap: 40px;
    width: 100%;
}

.submit-login {
    background-color: #c71236;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.submit-login:hover {
    background-color: #a5102e;
    cursor: pointer;
}

.create-login, .add-cart-btn {
    background-color: #525252;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;    
}

.create-login:hover, .add-cart-btn:hover {
    background-color: #686868;
    cursor: pointer;
}

.login-input:focus {
    border: 1px solid #a5102e;
}

.contact-section, .product-detail-container {
    margin-top: 40px;
    background-color: #ececec;
    padding: 20px;
    border-radius: 5px;
}

.product-info h1 {
    text-align: center;
    padding-bottom: 20px;
}

.shoe-prod-img {
    border-radius: 50px;
    width: 100%;
}

.product-info-container {
    padding: 40px;
}

.product-info-container, .description-container, .features-container ul {
    display: flex;
    gap: 40px;
}

.description-container {
    width: 75%;
    text-align: center;
    margin-right: 20px;
}

.features-container {
    width: 25%;
}

.description-container, .features-container ul {
    flex-direction: column;
    list-style: circle;
}

.product-price {
    font-weight: 500;
}

.cart-btn-container {
    display: flex;
    justify-content: center;
    place-items: center;
}

.contact-form {
    padding: 20px;
}

.contact-section {
    text-align: center;
    margin-bottom: 40px;
}

.form-flex {
    display: flex;
    justify-content: space-evenly;
    place-items: center;
}

.left-side-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-input {
    width: 360px;
    height: 40px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}

#message {
    width: 360px;
    height: 160px;
    border-radius: 5px;
    padding: 10px; 
    resize: none;
}

#consent {
    margin: 20px 0;
}

.form-submit {
    background-color: #c71236;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;
}

textarea:focus, .form-input:focus {
    border: 1px solid #a5102e;
}

#form-info {
    display: flex;
    flex-direction: column;
}

textarea {
    margin-bottom: 20px;
}

.x-container {
    display: flex;
    justify-content: flex-end;
}

#x {
    color: #DC143C;
    font-size: 16px;
}