@import "./reset.css";
@import "./index.css";

.company-header-container li {
    padding: 18px 20px;
    transition: all 0.25s ease-in-out;
}

.login-box {
    margin-top: 40px;
    background-color: #ececec;
    padding: 20px;
    border-radius: 5px;
}

.login-box h2 {
    text-align: center;
    padding: 10px;
}

.login-flex {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.login-flex-col {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.login-input {
    width: 360px;
    height: 40px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}

.login-buttons {
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 20px 0 0 65px;
    gap: 40px;
    width: 100%;
}

.submit-login {
    background-color: #c71236;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.submit-login:hover {
    background-color: #a5102e;
    cursor: pointer;
}

.create-login {
    background-color: #525252;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;    
}

.create-login:hover {
    background-color: #686868;
    cursor: pointer;
}

.login-input:focus {
    border: 1px solid #a5102e;
}