@import "./reset.css";

.container{
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height: 100%;
}

/**********************************/
/*            Header              */
/**********************************/

.main-nav {
    color: #fff;
    text-decoration: none;
}

.header-master-container, 
.company-header-container, 
.shoe-companies-header-container, 
.footer-flex,
.footer-flex-col,
.company-logo-name,
ul {
    display: flex;
}

.header-master-container {
    flex-direction: column; 
}

header {
    color: #fff;
}

ul {
    list-style: none;
}

.company-header-container li {
    padding: 20px 20px;
    transition: all 0.25s ease-in-out;
}

.company-header-container li:hover {
    background-color: #c71236;
    cursor: pointer;
}

header img {
    border-radius: 50%;
    height: 36px;
}

.company-logo-name {
    align-items: center;
    gap: 20px;
}

.search-container {
    width: 50%;
}

.search-wrapper {
    width: 100%;
    position: relative;
}

.search-bar:hover {
    border: 1px solid #a5102e;
}

.search-bar:focus {
    border-color: #fff;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-60%);
    font-size: 32px;
}

.shoe-companies-header-container li {
    padding: 0 15px;
    transition: all 0.25s ease-in-out;
    font-size: 12px;
    font-weight: 500;
}

.shoe-companies-header-container li:hover {
    background-color: #a5102e;
    cursor: pointer;
}

/*********************************/
/*            Footer             */
/*********************************/

footer {
    background-color: #DC143C;
    color: #fff;
    text-align: center;
    /* line-height: 60px; */
    padding: 20px;
}

.footer-flex {
    justify-content: space-around;
}

.footer-flex-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer p:hover {
    cursor: pointer;
}

#copyright {
    padding-top: 20px;
}