@import "./reset.css";

.container{
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height: 100%;
}

/**********************************/
/*            Header              */
/**********************************/

.header-bg-container, .header-master-container {
    height: 60px;
    background-color: azure;
}

.header-master-container, 
.company-header-container, 
.shoe-companies-header-container, ul {
    display: flex;
}

.header-master-container {
    flex-direction: column; 
}

.company-header-bg {
    height: 40px;
    background-color: #DC143C;
}

.shoe-companies-bg {
    height: 20px;
    background-color: #c71236;
}

.company-header-container {
    justify-content: space-between;
}

.shoe-companies-header-container {
    justify-content: center;
}