@import "./reset.css";

.container{
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height: 100%;
}

/**********************************/
/*            Header              */
/**********************************/

.header-bg-container, .header-master-container {
    height: 60px;
    background-color: azure;
}

.header-master-container, 
.company-header-container, 
.shoe-companies-header-container, 
.company-logo-name,
ul {
    display: flex;
}

.header-master-container {
    flex-direction: column; 
}

.company-header-bg {
    height: 40px;
    background-color: #DC143C;
}

.shoe-companies-bg {
    height: 20px;
    background-color: #c71236;
}

.company-header-container {
    height: 40px;    
    justify-content: space-between;
    place-items: center;
}

.shoe-companies-header-container {
    height: 20px;
    justify-content: center;
    place-items: center;
}

header {
    color: #fff;
}

ul {
    list-style: none;
}

.company-header-container li {
    padding: 20px 20px;
    transition: all 0.25s ease-in-out;
}

.company-header-container li:hover {
    background-color: #c71236;
    cursor: pointer;
}

header img {
    border-radius: 50%;
    height: 36px;
}

.company-logo-name {
    align-items: center;
    gap: 20px;
}